<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background: linear-gradient(135deg, #00d0ff 30%, #7300ff 90%);
          background-size: cover;
          color: #fff;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      body::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
          opacity: 0.3;
          z-index: -1;
      }

      h1 {
          text-align: center;
          color: #fff;
          margin-bottom: 50px;
          font-size: 2.5em;
      }

      .banner-container {
          display: flex;
          justify-content: space-between;
          width: 90%;
          max-width: 1200px;
          margin: 0 auto;
      }

      .banner {
          flex: 1;
          margin: 0 10px;
          background-color: rgba(255, 255, 255, 0.9);
          color: #000;
          text-align: center;
          padding: 40px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s, background-color 0.3s;
          text-decoration: none;
      }

      .banner:hover {
          background-color: #00df13;
          transform: scale(1.05);
      }

      .banner p {
          margin: 0;
          font-size: 1.2em;
      }

      .banner button {
          margin-top: 20px;
          padding: 10px 20px;
          font-size: 16px;
          color: #fff;
          background-color: #007bff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
      }

      .banner button:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>

<h1>Bem-vindo à Home Page</h1>

<div class="banner-container">
  <%= link_to clientes_path, class: 'banner' do %>
    <p>Clientes</p>
    <button>Ver mais</button>
  <% end %>

  <%= link_to produtos_path, class: 'banner' do %>
    <p>Produtos</p>
    <button>Ver mais</button>
  <% end %>

  <%= link_to pedidos_path, class: 'banner' do %>
    <p>Pedidos</p>
    <button>Ver mais</button>
  <% end %>
</div>

</body>
</html>
