<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Pedidos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Editar Pedido</h1>

  <%= form_with(model: pedido) do |form| %>
    <div class="mb-3">
      <%= form.label :cliente_id, "Cliente", class: "form-label" %>
      <%= form.collection_select :cliente_id, @clientes, :id, :nome, { prompt: "Selecione um Cliente" }, { class: 'form-select' } %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
</body>
</html>
