<div id="<%= dom_id pedido %>">
  <p>
    <strong>Cliente:</strong>
    <%= pedido.cliente_id %>
  </p>

  <p>
    <strong>Data hora:</strong>
    <%= pedido.data_hora %>
  </p>

  <p>
    <strong>Produtos quantidade:</strong>
    <%= pedido.produtos_quantidade %>
  </p>

</div>
